.TabMenu {
  height: 100%;
  background: #121212;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2em;
}

.TabMenu-tab {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.TabMenu-tab.active {
  color: #007aff;
}

.TabMenu-tab span {
  font-size: .8rem;
}